# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Packaging
*.spec.bak

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.exe
